a:link{color: #0000FF; text-decoration: none; font-family: "新細明體", "細明體"}
a:visited{color: #444444; text-decoration: none; font-family: "新細明體", "細明體"}
a:active{color:#000000; font-family: "新細明體", "細明體"}
a:hover{color:#FFCC00; text-decoration: none; font-family: "新細明體", "細明體"}

/*定義按鈕格式*/
a.button {background-color:  #0066FF;text-align: center;width:95px;  /* 設定寬度 */font-size: 9.5pt;text-decoration:none;; border: 1px #0066FF outset; font-family: "細明體", "新細明體"; clip:  rect(   )}
a.button:link  {color: #F0B606; }   /* 超連結文字色彩 */
a.button:visited {color:#F0B606; }  /* 已連結過之超連結文字色彩 */
a.button:hover {color: #FFFFFF; border-style: inset }  /* 滑鼠指標所在超連結之文字色彩及邊框樣式 */
a.button:active {color: #FFFFFF;}  /* 正被選取之超連結文字以粗體顯示且放大字型 */

a.button1 {background-color:  #FF0000;text-align: center;width:40px;  /* 設定寬度 */font-size: 10pt;text-decoration:none;; border: 1px #FF0000 outset; font-family: "細明體", "新細明體"; clip:  rect(   )}
a.button1:link  {color: #000000; }   /* 超連結文字色彩 */
a.button1:visited {color:#000000; }  /* 已連結過之超連結文字色彩 */
a.button1:hover {color: #FFFFFF; border-style: inset }  /* 滑鼠指標所在超連結之文字色彩及邊框樣式 */
a.button1:active {color: #FFFFFF;}  /* 正被選取之超連結文字以粗體顯示且放大字型 */

a.actionbutton1 {background-color:  #FF6600;text-align: center;width:65px;  /* 設定寬度 */font-size: 10pt;text-decoration:none;; border: 1px #FF0000 outset; font-family: "細明體", "新細明體"; clip:  rect(   )}
a.actionbutton1:link  {color: #000000; }   /* 超連結文字色彩 */
a.actionbutton1:visited {color:#000000; }  /* 已連結過之超連結文字色彩 */
a.actionbutton1:hover {color: #FFFFFF; border-style: inset }  /* 滑鼠指標所在超連結之文字色彩及邊框樣式 */
a.actionbutton1:active {color: #FFFFFF;}  /* 正被選取之超連結文字以粗體顯示且放大字型 */

a.actionbutton2 {background-color:  #CCCCCC;text-align: center;width:65px;  /* 設定寬度 */font-size: 10pt;text-decoration:none;; border: 1px #CCCCCC outset; font-family: "細明體", "新細明體"; clip:  rect(   )}
a.actionbutton2:link  {color: #000000; }   /* 超連結文字色彩 */
a.actionbutton2:visited {color:#000000; }  /* 已連結過之超連結文字色彩 */
a.actionbutton2:hover {color: #FF0000; border-style: inset }  /* 滑鼠指標所在超連結之文字色彩及邊框樣式 */
a.actionbutton2:active {color: #FF0000;}  /* 正被選取之超連結文字以粗體顯示且放大字型 */

p{color:#323232; font-family: 新細明體,細明體; font-size: 10pt }
input{font-family: 新細明體,細明體; font-size: 10pt}
.select{font-family: 新細明體,細明體; font-size: 10pt}
td{color:#323232; font-family: 新細明體,細明體; font-size: 10pt }
body{color:#000000; font-family: "新細明體", "細明體"; font-size: 10pt }

.selected{font-family: 新細明體,細明體; font-size: 10pt;color:#9E4434;}
.mini {  font-size: 10pt; text-align: center; border: 1px #0000FF solid}
.px12 {  font-size: 13px; line-height: 20px; font-variant: normal}
.text {  color: #000000; font-size: 14px; font-variant: normal;  font-family: "新細明體", "細明體"}
.text_title1 { color: #000000; font-size: 14px; font-variant: normal; font-family: "新細明體", "細明體" ; font-weight: bold}

.table1 {  font-family: "細明體", "新細明體"; border-style:solid ;border-width:1,1,1,1 ;border-color:#666666; line-height: 18px}
.table2 {  font-size: 12pt;font-family: "細明體", "新細明體"; border-style:solid ;border-width:1,1,1,1 ;border-color:#666666}

input.c {  font-size: 10pt; border: 1px #CCCCCC solid; color: #0339B8; background-color: #FFFFFF}
.small {COLOR: #0000200; FONT-FAMILY: "細明體", "新細明體"; FONT-SIZE: 10pt; FONT-STYLE: normal; LINE-HEIGHT: 13pt; VERTICAL-ALIGN: top}
.bt {  font-size: 10pt; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; height: 16px; width: 65px; background-color: #FFFFFF; cursor: hand} 
.bt1 {  font-size:10pt; color:#0000FF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; height: 20px; width: 98px; background-color: #FFFFFF; cursor: hand} 
.bt11 {  font-size:10pt; color:#FF9900; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; height: 20px; width: 75px; background-color: #FFFFFF; cursor: hand} 
.bt2 {  font-size:10pt; color:#FFFFFF; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; height: 17px; width: 45px; background-color: #666666; cursor: hand} 
.bt21 {  font-size:10pt; color:#FFFFFF; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; height: 17px; width: 45px; background-color: #FF5151; cursor: hand} 
.bt22 {  font-size:10pt; color:#000000; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; height: 17px; width: 55px; background-color: #FF9900; cursor: hand} 
.bt23 {  font-size:10pt; color:#000000; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; height: 17px; width: 82px; background-color: #FF9900; cursor: hand} 
.bt3 {  font-size:10pt; color:#0000FF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; height: 20px; width: 120px; cursor: hand}
.bt4 {  font-size:10pt; color:#FFFFFF; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; height: 20px; width: 100px; background-color: #FF0000; cursor: hand} 
.tx1 { height: 20px; width: 30px; font-size: 10pt; border: 1px solid; border-color: black black #000000; color: #0000FF} 

.border-und {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: black 0px solid; BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid
}